<div class="container-fluid mt-2">

    <div class="row mb-2">
        <div class="col">
            <input (keyup)="onFilter($event)" class="form-control" type="text" placeholder="Filter">
        </div>   
    </div>

    <div class="row row-cols-1 row-cols-md-6 g-4">
        <div *ngFor="let collection of filteredCollections">
            <a style="text-decoration: none;" [routerLink]="['/collections/details', collection.id]">
                <div class="col">
                    <div class="card text-bg-light">
                        <img [src]="collection.collectionPic" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ collection.description }}</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>