<div class="container mt-2">

    <div class="row mb-2">
        <div class="col">
            <input (keyup)="onFilter($event)" class="form-control" type="text" placeholder="Filter">
        </div>   
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div *ngFor="let collection of filteredCollections">
            <a [routerLink]="['/collections/details', collection.id]">
                <div class="col">
                    <div class="card">
                        <img src="http://localhost/Collection1/201005-2.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ collection.description }}</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>