<div class="row row-cols-1 row-cols-md-5 g-4">
    <div class="col" *ngFor="let imageMetadata of allImages; let i = index">

        <div class="card text-bg-light">
            <a [href]="imageMetadata.src" target="_blank"><img (contextmenu)="manageImageOptions(i)" [src]="imageMetadata.src" class="card-img-top"></a>
            <ul class="collection-image-options list-group list-group-flush" [hidden]="!imageMetadata.showOptions">
                <li class="list-group-item"><a class="card-link link-pointer" (click)="setCollectionMainImage(i)">Set as main image</a></li>
                <li class="list-group-item" (click)="setCollectionBanner(i)"><a class="card-link link-pointer">Set as banner</a></li>
            </ul>
        </div>
    </div>  
</div>

