<div class="modal fade" id="importCollectionsModal" tabindex="-1" aria-labelledby="importCollectionsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="importCollectionsModalLabel">Import collections</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <textarea #collectionsJson class="form-control" placeholder="json" style="height: 200px"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="importCollections()" type="button" class="btn btn-primary" data-bs-dismiss="modal">Import</button>
        </div>
      </div>
    </div>
</div>